  {% extends 'navfoot.html.twig' %}

  {% block navbar %}
  {{ parent() }}
  
  
  <section class="selection-du-moment">
    <div class="p-5">
      <div class="container-fluid">
        <div class="row">                
          <div class="col-lg-4 my-5 ">
            <div class="text-center cadre-img-selection">
              <img src="/images/photo-atelier-mp.png" class="img-selection">
            </div>
          </div>
          <div class="col-lg-4 my-5 cadre-img-selection">
            <div class="text-center">
              <img src="/images/tour-eiffel.png" class="img-selection">
            </div>
          </div>
          <div class="col-lg-4 my-5 cadre-img-selection">
            <div class="text-center">
              <img src="/images/photo-atelier-fille.jpg" class="img-selection">
            </div>
          </div>
            
          <div class="d-flex justify-content-center my-5">
            <button type="button" class="btn btn-lg btn-block w-75"></button>
          </div>
 </div>
          <h3 class=" lamaison-titre text-center mt-5"><strong>Nos ateliers</strong></h3>

      <div class="d-flex justify-content-center p-3">
        <article ><strong>
            <div class="text-center mt-5">
              <p>
                Pour la découverte de la fabrication des chocolats, Pour les patissiers en herbes
                <br>
              Pour le plaisir de partager les secrets des maitres artisans,
              </p>
              <p>
                Pour passer un moment de joie entre amis ou en famille, Et pour bien d'autres raisons
                <br> 
                Je vous acceuille en groupe de 2 à 6 personnes dans mon laboratoire, les samedi matin de 10 heures à midi<br>
                 pour créer, déguster et emporter vos propres créations et éprouver de la fierté en les partageant avec votre entourage.         
              </p>
              <p>
                    
              </p> 
              <p>  
                De fabrication artisanale, toutes mes recettes sont produites sur place dans mon laboratoire de fabrication, 
                avec des matières premières de très grande qualité choisies avec soin.
              </p>
              <p>        
                En raison du contexte sanitaire actuel, je suis au regret de devoir suspendre les ateliers jusqu'en janvier 2021.
                <br>
                Prenez soin de vous 
                </p>
            </div>
          </strong></article>
        </div>  
        </div>                  
     
         
        
  </div> 
    
  </section> 

{% endblock %}


    

 