
    {% extends 'navfoot.html.twig' %}
    {% form_theme formSelection 'bootstrap_4_layout.html.twig' %}

    {% block navbar %}
        {{parent()}}
        {% block selection %}
        <h5 class="text-center mt-5"> Modifier ma sélection</h5>
            <div class="container border border-secondary w-50 mt-5 p-5">
                {{ form(formSelection) }} 
                <button type="button" class="btn btn-secondary btn-block">
                <a href="{{path("selectionliste")}}" class="text-white">Retour à la liste</a>
                </button>
            </div>

        {% endblock %}
        

    {% endblock %}