.nav-rose
{
  background-color:rgb(199, 156, 169);
}

nav li a
{
  font-family: 'Arapey', serif;      
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 18px;
  margin-right: 70px;
  color: rgb(104, 48, 48);
  font-weight: bold;
}
 nav li a:hover {
    color: #96806b;
  }


/************************** ACCUEIL *****************************/
.firsttitle
 {
    font-family: 'Allura', cursive;
    font-size: 5rem;
 }
h2
 {
    font-family: 'Arapey', serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: rgb(104, 48, 48);
 }
 h5
 {
    font-family: 'Arapey', serif;      
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: rgb(104, 48, 48);
 }

/* bannière */
.chocolaterie-française-cacao
{
  background-color: rgb(245, 238, 233);
}

/* selection du moment*/
.selection-du-moment
{
  margin:5px;
}
.titre-selection-du-moment
{
  font-family: 'Arapey', serif;      
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.img-selection
{
  width:280px;
  height: 320px;
}
.img-selection
{
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.img-selection:hover
{
  transform:scale(1.1);
  border: solid 30px rgb(158, 129, 120);
}
/* .cadre-img-selection:hover {
	opacity: 0.5;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-in;
} */
.selection-du-moment .btn-lg
{
  background-color: rgb(158, 129, 120);
  font-family: 'Arapey', serif;      
  text-transform: uppercase;
}




/***************************** /PRODUIT/LISTE ***************************/
.titre1-page-produit 
{
  font-family: 'Arapey', serif;      
  text-transform: uppercase;
}
.liste-produits a, .btn-retour
{
  color:black;
  font-weight: bold;
}

/******************************* /LESINCONTOURNABLES ********************/
.card .chocolats-incon
{
  border: none;
}

/****************************** FOOTER ***********************/
.groupe-footer{
  display: flex;
  justify-content: center;
}
.groupe-footer p a{
  text-decoration: none;
  color: black
}
.icone-réseaux i{
  font-size: xx-large;
  display: inline-block;
  text-align: center;
}
.icone-réseaux i:hover{
color: burlywood;
}
.nav-footer{
  background-color: rgb(212, 191, 198);
}
footer li a{
  list-style-type: none;
  text-decoration: none;
  color: rgb(92, 75, 67);
}
footer li{
  list-style-type: none;
}
footer a:hover{
  color: burlywood;
  }

/**************************  *****************************/
/******************PATISSERIE SAMIA***********************/
.big{
  font-family: 'Arapey', serif;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px; 
  text-transform: uppercase; 
  color: #6b4e34;
  letter-spacing: 0.5rem;
}
.big h1{
  color: #6b4e34;
  letter-spacing: 5px;
  
}

.btn-contact-patisserie{
  text-decoration: none;
}