{% extends 'navfoot.html.twig' %}


{% block navbar %}
  {{ parent() }}

  <div class=" container d-flex justify-content-center p-3">
        <article ><strong>
            <div class="text-center mt-5">
                <h3><strong>Conditions Générales de Vente</strong></h3>
                <p>

                <h2  class="text-center mt-5"><strong> RECLAMATIONS – RETOURS</strong></h2>
              
                <p>  
                    Toute réclamation devra être faite dans un délai maximum de 3 jours après réception de la commande, par courrier ou par mail à : 
                    Eurl Marc Pignot - 38, rue de la Félicité - 75017 – PARIS
                    01 58 57 87 60
                    pignot.chocolatier@gmail.com
                    Marc Pignot Saint Saëns
                    Passé ce délai, aucune réclamation ne sera prise en compte. Cette réclamation devra être motivée et accompagnée des justificatifs du préjudice subi (lettre de transport, photo du colis reçu…). Les retours produits ne sont possibles que lorsque la responsabilité de La Chocolaterie Marc Pignot est engagée (erreur de préparation de commande, 
                    erreur de livraison, horaires ou adresses non respectés, condition de livraison défectueuse, vice apparent ou de non conformité des produits livrés).
                    Tout retour de produit doit faire l’objet d’un accord formel entre La Chocolaterie Marc Pignot et le client et être retourné dans les 3 jours suivant l’accord. Passé ce délai, aucun retour ne pourra être pris en compte. Toute reprise acceptée par La Chocolaterie Marc Pignot, 
                    permettra au client d’obtenir le remplacement gratuit ou la restitution d’un avoir à son profit, à l’exclusion de tout autre indemnité ou dommages et intérêts.                     
                </p>
                
                <h2  class="text-center mt-5"><strong>RESERVE</strong></h2>
                <p>
                    La Chocolaterie Marc Pignot se réserve la possibilité de modifier les produits présentés dans les compositions regroupant plusieurs produits afin de garantir leur bonne tenue lors du transport et ceci,
                    dans le strict respect de leur qualité et de leur prix. La Chocolaterie Marc Pignot se réserve la possibilité de modifier l'emballage présenté par un emballage équivalent dans le strict respect de la qualité et du prix affiché. Les photographies ne sont pas contractuelles.
                </p>
                
                <h2  class="text-center mt-5"><strong>GARANTIES</strong></h2>
                
                <p>

                    La DLUO (date limite d’utilisation optimale) de nos chocolats, macarons et autres produits de confiserie est indiquée sous chaque emballage. Afin d’apprécier au mieux nos produits, nous vous conseillons de choisir la date de livraison la plus proche de votre date de consommation. La Chocolaterie Marc Pignot garantit la qualité et la fraîcheur de ses produits sous réserve de les conserver dans un endroit frais (entre 14 et 18°C) et sec, à l’abri de la lumière dans leur emballage d’origine.
                </p>
            </div>
        </strong></article>
    </div>  
{% endblock %}