{% extends 'navfoot.html.twig' %}


{% block navbar %}
  {{ parent() }}

<div class=" container d-flex justify-content-center p-3">

    <article ><strong>

        <h3 class="text-center mt-5"><strong>Mentions Légales</strong></h3>
            
            <div class="text-align mt-5">
                        <p>
                        Conformément aux dispositions des Articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., 
                        il est porté à la connaissance des utilisateurs et visiteurs du site Marc PignotSaint Saëns les présentes mentions légales. 
                        </p>
                         <p>
                        Le site Marc Pignot Saint Saëns est accessible à l'adresse suivante : Marc Pignot Saint Saëns (ci-après "Marc Pignot Saint Saëns").
                        L'accès et l'utilisation du Site sont soumis aux présentes "Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.
                        <br> 
                        La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de 
                        l'internaute de toutes les dispositions des présentes Mentions Légales.
                        </p>

                        <h2 class="text-center mt-5"><strong>Article 1 - INFORMATIONS LEGALES</strong></h2>
                        <p>       
                        En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, 
                        il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
                        </p>
                        <p>
                            Le site Marc Pignot Saint Saëns est édité par : EURL Marc PIGNOT
                            <br>
                            ayant son siège social à l'adresse suivante : 38 rue de la Félicité Paris 17,
                            <br>
                            et immatriculé au numéro suivant - RCS PARIS  491 199 204
                            <br>
                            N° TVA intracommunautaire : FR08491199204
                            <br>
                            Téléphone 01 58 57 87 60
                            <br>
                            Adresse e-mail : pignot.chocolatier@gmail.com
                            <br>
                            ci-après "l'Administrateur"

                        </p>
                        <p>  ​
                            Le Directeur de publication est :  Marc PIGNOT
                            <br>
                            Adresse e-mail de contact : pignot.chocolatier@gmail.com
                            <br>
                            ci-après "le Directeur de Publication"
                        </p>
                        <p>​
                            Le site Marc Pignot Saint Saëns est hébergé par :
                            "#"
                            <br>
                            dont le siège social est situé à 
                            
                            <br>
                            Téléphone : 
                            <br>
                            Adresse e-mail : 

                            <br>
                            ci-après "l'Hébergeur"

                        </p>
                        <p> 
                            Conception:

                            Nadia Millet, Grujicic Gordana, Samia Litim, Ilham Dif
   
                        </p>
                        <p>
                            Photos: 
                            l'administrateur pour partie
                        </p>

                        <h2  class="text-center mt-5"><strong>Propriété intellectuelle et contrefaçon</strong></h2>
                    
                        <p>  
                            La conception, la forme du site,
                            son contenu ainsi que les illustrations et autres éléments sur le site Marc Pignot Saint Saëns sont la propriété de l'Editeur.
                            Le site chocolat-paris-17 n’autorise ses visiteurs à copier électroniquement et à imprimer sur support papier ces éléments que dans le seul 
                            but de préparer leur commande. Toute autre utilisation d’éléments du site Marc Pignot Saint Saëns (reproduction, diffusion), sans l’autorisation écrite préalable de l'Editeur, est strictement interdite et constitutive d’une contrefaçon sanctionnée pénalement.
                        </p>
                        <p>
                            La marque « Marc Pignot »  et son logo sont protégés au titre des marques et ont fait l'objet, à ce titre, d'un dépôt régulier le 29 décembre 2015 auprès de l'I.N.P.I. sous les nº 15 4 236 906 et n° 15 4 236 915.
                        </p>
                        <p>
                            Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le site Marc Pignot Saint Saëns
                            ci-après les "Utilisateurs"
                        </p>

                        <h2  class="text-center mt-5"><strong>Article 2 - ACCESSIBILITE</strong></h2>
                        
                        <p>
                            Le site est par principe accessible aux utilisateurs 24/24h et 7/7j, 
                            sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.
                            En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès. 
                            Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.
                        </p>
                    
                        <h2 class="text-center mt-5"><strong>Article 3 - COLLECTE DES DONNEES ET LOI INFORMATIQUE ET LIBERTES</strong></h2>
                        ​
                        <p>
                            Le site Marc Pignot Saint Saëns est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée des Utilisateurs.
                        </p> 
                        <h2 class="text-center mt-5"><strong>Article 4 - POLITIQUE DE COOKIES</strong></h2>
                        
                        <p> 
                            Le site Marc Pignot Saint Saëns a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'Utilisateur.
                            Conformément à la législation européenne, le site chocolat-paris-17 a mis à jour sa politique de confidentialité en matière de cookies. L'Utilisateur est libre d'accepter ou de refuser les cookies de tous les sites internet en modifiant les paramètres de son navigateur internet.
                        </p>
                        
                        <h2 class="text-center mt-5"><strong>Article 5 - CONTACT</strong></h2>

                        <p> 
                            Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter "l'Administrateur" à l'adresse suivante :

                            pignot.chocolatier@gmail.com, ou par courrier recommandé avec accusé de réception adressé à "l'Administrateur" aux coordonnées précisées dans les présentes mentions légales.    
                        </p>
            </div>
        </strong></article>
  </div>  
{% endblock %}