{% extends 'navfoot.html.twig' %}
    {% form_theme formulaire 'bootstrap_4_layout.html.twig' %}

    {% block navbar %}
    {{parent()}}
        <div class="container my-5 border border-secondary p-5">
            <h5 class="text-center mb-5">Ajouter un nouveau produit</h5>
            {{ form(formulaire) }} 
            <button type="button" class="btn btn-secondary btn-retour">
                <a href="{{path("produitlist")}}" style="color:white;">Retourner à la liste des produits</a>
            </button>
            <button type="button" class="btn btn-secondary btn-retour">
                <a href="{{path("les_incontournables")}}" style="color:white;">Page lesincontournables</a>
            </button>
        
    {% endblock %}
  