{% extends 'navfoot.html.twig' %}

{# {% block title %}Register{% endblock %} #}

{% block navbar %}
    {{parent()}}

    {% form_theme contactForm 'bootstrap_4_layout.html.twig' %}

    <h5 class="text-center my-5">contacter nous</h5>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <div class="container d-flex justify-content-center">

        <div class="border border-secondary p-5">
        {{ form(contactForm)}}
{% endblock %}
