{% extends 'navfoot.html.twig' %}

{% block navbar %}
    {{ parent() }}

  <h3 class="titre-selection-du-moment text-center mt-5">La maison Pignot Saint-Sëans</h3>
  <section class="selection-du-moment">
    <div class="p-5">
      <div class="container-fluid">
        <div class="row">                
          <div class="col-lg-4 my-5 ">
            <div class="text-center cadre-img-selection">
              <img src="/images/MARC 2.jpg" class="img-selection">
            </div>
          </div>
          <div class="col-lg-4 my-5 cadre-img-selection">
            <div class="text-center">
              <img src="/images/boutique.jpg" class="img-selection">
            </div>
          </div>
          <div class="col-lg-4 my-5 cadre-img-selection">
            <div class="text-center">
              <img src="/images/MP.jpg" class="img-selection">
            </div>
          </div>
            
          <div class="d-flex justify-content-center my-5">
            <button type="button" class="btn btn-lg btn-block w-75"></button>
          </div>
 </div>
          <h3 class=" lamaison-titre text-center mt-5"><strong>Mon histoire</strong></h3>

      <div class="d-flex justify-content-center p-3">
        <article ><strong>
            <div class="text-center mt-5">
              <p>
                Maître artisan depuis 2010 et fort de mon expérience passée, je vous invite à venir découvrir ma boutique, 
                38 rue de la Félicité à Paris 17ème,
                <br>
              dans le nouveau quartier des Batignolles.  
              </p>
              <p>
                Mes formations auprès de Pierre Hermé, Hédiard traiteur-épicerie fine, ainsi que mes différents stages à l’école Valrhona,
                mon fournisseur-partenaire,
                <br> 
                animés par Frédéric Baux et Philippe Givre, entre autres, ont contribué à 
                conférer à la Chocolaterie Marc Pignot ses lettres de noblesse. 
              </p>
              <p>
                Je vous propose une large gamme de ganaches, pralinés, pâtes de fruits, truffes, fruits enrobés, mendiants, tuiles etc… et bien sûr,
                de succulents macarons.                
              </p> 
              <p>  
                De fabrication artisanale, toutes mes recettes sont produites sur place dans mon laboratoire de fabrication, 
                avec des matières premières de très grande qualité choisies avec soin.
              </p>
              <p>        
                Je fabrique moi-même la totalité des produits que vous trouverez dans ma boutique et je me ferais un plaisir de vous accueillir 
                et vous conseiller dans vos achats.
                </p>
            </div>
          </strong></article>
        </div>  
      </div>         
  </div> 
    
  </section> 

{% endblock %}



